nav li{
    list-style: none;
    margin-right: 20px;
    padding: 5px 10px ;
}
nav li a{
    text-decoration: none;
    color: blue;
    font-size: 20px;
}
nav >ul{
    display: flex;
}
nav li:hover{
    background-color: lightgray;
}
nav>ul>li:hover>ul{
    display: block;
}
.dropdown{
    display: none;
    position: absolute;
    background-color: lightyellow;
    padding: 0;
}
.dropdown li{
    padding: 0;
    margin:0
}